In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Police.csv')

In [3]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

# 1) Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.
# 2) Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ? 
# 3) Question ( Groupby ) - Does gender affect who gets searched during a stop ? 
# Question ( mapping + data-type casting )
# 4) Question ( mapping + data-type casting ) - What is the mean stop_duration ?
# 5) Question ( Groupby , Describe ) - Compare the age distributions for each violation.

# 1) Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.

In [5]:
df.drop(['country_name'], axis= 1, inplace=True)

In [6]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# 2) Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ?

In [7]:
value_speeding = df['violation'] == 'Speeding'
df.loc[value_speeding]['driver_gender'].value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

# 3)Question ( Groupby ) - Does gender affect who gets searched during a stop ?

In [8]:
df['search_conducted'].value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [22]:
gender_grp = df.groupby(['driver_gender'])

In [23]:
gender_grp['search_conducted'].sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

# 4) Question ( mapping + data-type casting ) - What is the mean stop_duration ?

In [28]:
df['stop_duration'].unique()

array(['0-15 Min', '16-30 Min', '30+ Min', nan, '2'], dtype=object)

In [33]:
df['stop_duration'] = df['stop_duration'].map({'0-15 Min': 7.5,'16-30 Min' : 23, '30+ Min': 45, "2": 2 })

In [35]:
df['stop_duration'].mean()

12.001032940219602

# 5) Question ( Groupby , Describe ) - Compare the age distributions for each violation.

In [11]:
df['violation'].unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

In [12]:
violation_age_grp = df.groupby(['violation'])

In [19]:
violation_age_grp['driver_age'].value_counts()

violation         driver_age
Equipment         23.0          385
                  21.0          374
                  22.0          370
                  20.0          348
                  24.0          329
                               ...
Moving violation  49.0          219
                  47.0          211
                  51.0          208
                  52.0          185
                  53.0          185
Name: driver_age, Length: 100, dtype: int64

In [36]:
violation_age_grp['driver_age'].value_counts(normalize=True)

violation  driver_age
Equipment  23.0          0.059167
           21.0          0.057477
           22.0          0.056862
           20.0          0.053481
           24.0          0.050561
                           ...
Speeding   84.0          0.000081
           86.0          0.000081
           88.0          0.000054
           15.0          0.000027
           83.0          0.000027
Name: driver_age, Length: 333, dtype: float64

In [37]:
violation_age_grp['driver_age'].describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0